WSEsferaCliente/web/WEB-INF/wsdl/localhost_8080/WSEsfera/VolumenEsfera.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://Volumen/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Volumen/">

<xs:element name="CalcularVolumenEsfera" type="tns:CalcularVolumenEsfera"/>

<xs:element name="CalcularVolumenEsferaResponse" type="tns:CalcularVolumenEsferaResponse"/>

<xs:complexType name="CalcularVolumenEsfera">
<xs:sequence>
<xs:element name="Radio" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularVolumenEsferaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>