WSEsferaCliente/src/conf/xml-resources/web-service-references/VolumenEsfera/wsdl/localhost_8084/WS/VolumenEsfera.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Esfera/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Esfera/">

<xs:element name="CalcularVolumenEsfera" type="tns:CalcularVolumenEsfera" />

<xs:element name="CalcularVolumenEsferaResponse" type="tns:CalcularVolumenEsferaResponse" />

<xs:complexType name="CalcularVolumenEsfera">
<xs:sequence>
<xs:element name="Radio" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularVolumenEsferaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
</xs:schema>